<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap" rel="stylesheet">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/content/circle.js" asp-append-version="true"></script>
    <script src="~/content/fullmenu.js"></script>
    <script src="~/lib/typed.js/typed.js"></script>
    <script src="~/lib/typed.js/typed.min.js"></script>
    <script></script>
    @RenderSection("Scripts", required: false)
    <link rel="stylesheet" href="~/content/Style.css">
    <link rel="stylesheet" href="~/content/Home.css">
</head>
<body>

    <div>
        @RenderBody()
    </div>
    <div class="typed-text-cotianer  justify-content-center align-items-center">
        <div class="typeMessage" id="typeMessage" style="color: #fff;">Hello I am Solomon Young <span id="typed3" class="typed3" style=""></span></div>
    </div>
</body>
</html>
