@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
body {
    background :#050100;
    color:#fff;
}

/**
 * Radial cursor
 */
#mouse-circle {
    position: absolute;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 1px solid #0f1c64;
    border-radius: 50%;
    pointer-events: none;
}