@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
body {
    background :#050100;
    color:#fff;
}

/*body, html {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000000;
}*/

.circle {
    position: absolute;
    border: solid 1px #ccc;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}