@model ContactView
    <div>
        <div class="wrapper">
            <div class="row">time stamp</div>
            <div class="row"> big text</div>
            <div class="row"> footer</div>
        </div>
    </div>

