@model ContactView
    <div>
        <div class="row wrapper">
            <div class="col border-dark  contact-parts left">
                <div class="row" style="border:1px solid;">

                </div>
            </div>
            <div class="col border-dark contact-parts">
                H
            </div>
        </div>
    </div>

