@model ContactView
    <div>
        <div class="row wrapper">
            <div class="col border-dark  contact-parts left">
                left for form
            </div>
            <div class="col border-dark contact-parts">
                H
            </div>
        </div>
    </div>

