@model ContactView
    <div>
        <div class="wrapper" style="width:100%;">
            <div class="row .socialmedia-links d-flex justify-content-around p-4" style="width:90%;">
                <div class="spinner" style="border:1px solid"><img  src="https://res.cloudinary.com/decagom/image/upload/v1621561177/porfolio/globe.16ec0a31_ywkuy6.gif" alt="Alternate Text" style="width:33px; height:33px;" /></div>
                <div class="" style="border:1px solid">spinning world</div>
                <div class="" style="border:1px solid">time stamp</div>
                <div class="" style="border:1px solid">icon</div>
            </div>

        </div>
    </div>

