@model ContactView
    <div>
        <div class="row wrapper">
            <div class="col border-dark  contact-parts left">
                <div class="row" style="border:1px solid; width:100px;">
                    <div class="" style="background-color:red;">

                    </div>
                </div>
            </div>
            <div class="col border-dark contact-parts">
                H
            </div>
        </div>
    </div>

