@model ContactView
    <div>
        <div class="wrapper" style="width:100%;">
            <div class="row .socialmedia-links d-flex justify-content-around p-4" style="width:90%;">

                <div class="">
                    <a class="fab fa-twitter fa-lg "></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fab fa-github fa-lg"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fab fa-facebook-square fa-lg"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fab fa-linkedin fa-lg"></a>
                </div>
                <div class="spinner" style="">
                    <img src="https://res.cloudinary.com/decagom/image/upload/v1621561177/porfolio/globe.16ec0a31_ywkuy6.gif" alt="Alternate Text" style="width:28px; height:28px;" />
                </div>
                <div class="" style="color:#fff;">@DateTime.Now</div>
                <div class=""><a class="fas fa-address-card fa-lg"></a></div>
            </div>
            <div style="" class="row contact-text-wrapper">
                <div class="little-text col-md-3">
                    <p style=" width:90%; padding:5px; font-family: 'Montserrat','KoHo',sans-serif;">
                        Let's Get Started
                        Send us questions or Projects Or throw a shoutout....
                    </p>


                    <i class="fas fa-long-arrow-alt-left fa-lg"></i>
                </div>

                <div class="big-text col mt-4" style="">
                    <p class="message">Message</p>
                    <p class="me-text">Me</p>
                </div>

            </div>
        </div>
    </div>

