@model ContactView
    <div>
        <div class="wrapper" style="width:100%;">
            <div class="row .socialmedia-links d-flex justify-content-around p-4" style="width:90%;">

                <div class="spinner" style="">
                    <img  src="https://res.cloudinary.com/decagom/image/upload/v1621561177/porfolio/globe.16ec0a31_ywkuy6.gif" alt="Alternate Text" style="width:28px; height:28px;" />
                </div>

                <div class="" style="border:1px solid">
                    <i class="fab fa-twitter fa-lg "></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fab fa-github fa-lg"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fab fa-facebook-square fa-lg"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fab fa-linkedin"></a>
                </div>
                <div class="" style="border:1px solid">time stamp</div>
                <div class="" style="border:1px solid">icon</div>
            </div>

        </div>
    </div>

