@model ContactView
    <div>
        <div class="wrapper" style="width:100%;">
            <div class="row .socialmedia-links">time stamp</div>
            <div class="row big-text"> big text</div>
        </div>
    </div>

