@model ContactView
    <div style="background-color:red;">
        <div class="row wrapper p-3">
            <div class="col border-dark  contact-parts left">
                left for form
            </div>
            <div class="col border-dark contact-parts">
                H
            </div>
        </div>
    </div>

