@model ContactView
    <div>
        <div class="wrapper" style="width:100%;">
            <div class="row .socialmedia-links d-flex justify-content-around p-1" style="width:90%;">
                <div class="socail-wrapper" style="border:1px solid">social</div>
                <div class="" style="border:1px solid">spinning world</div>
                <div class="" style="border:1px solid">time stamp</div>
                <div class="" style="border:1px solid">icon</div>
            </div>

        </div>
    </div>

