@model ContactView

    <div class="row w-100">
        <div class="col border-dark contact-parts left"> 
        left for form
        </div>

        <div class="col border-dark contact-parts">
            
    </div>
       </div>
