@model ContactView
    <div>
        <div class="wrapper" style="width:100%;">
            <div class="row .socialmedia-links d-flex justify-content-between" style="border: 1px solid;">
                <div class="socail-wrapper" style="border:1px solid">social</div>
                <div class="" style="border:1px solid">spinning world</div>
                <div class="" style="border:1px solid">time stamp</div>
                <div class="" style="border:1px solid">icon</div>
            </div>
            <div class="row big-text"> big text</div>
        </div>
    </div>

