<ul class="nav nav-tabs left-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#tab-panel-1" data-toggle="tab">Tab 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#tab-panel-2" data-toggle="tab">Tab 2</a>
    </li>
    <li class="nav-item">
        <!-- use the title attribute to show a tooltip with the full long name
             in case the tab is trucated-->
        <a class="nav-link"
           href="#tab-panel-3"
           title="More Description Here"
           data-toggle="tab">Tab 3</a>
    </li>
</ul>

<div class="tab-content">
    <article class="tab-pane container active" id="tab-panel-1">
        Tab Panel 1
    </article>
    <article class="tab-pane container" id="tab-panel-2">
        Tab Panel 2
    </article>
    <article class="tab-pane container" id="tab-panel-3">
        Tab Panel 3
    </article>
</div>