<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/content/circle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <link rel="stylesheet" href="~/content/Style.css">
    <link rel="stylesheet" href="~/content/Home.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="https://res.cloudinary.com/decagom/image/upload/v1621354990/porfolio/logo_kqrhyj.png" alt="logo" style="width:40px;">
        </a>
        <!-- Links -->
        <ul class="navbar-nav   justify-content-center" >
            <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </nav>

    <div>
        <div id="mouse-circle"></div>
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SolomonYoung - <a asp-controller="Account" asp-action="Login"> Admin</a>
        </div>
    </footer>
</body>
</html>
