@model HomeViewModel
@{
    Layout = "HomeLayout";
}

<!--mouse follower-->
<span id="mouse-circle"></span>
<!-- The overlay -->
<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

</div>
<!-- Use any element to open/show the overlay navigation menu -->
<div style="color:#fff;" class="mt-3 ml-3 hambuger-menu-container"  onclick="openNav()">
    <div class="hambuger-menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>
<div class="typed-text-cotianer  justify-content-center align-items-center">
    <div class="typeMessage" id="typeMessage" style="color: #fff;">Hello I am Solomon Young <span id="typed3" class="typed3" style=""></span></div>
    <a class="btn btn-white btn-big call-to-action-button" >Lets build something great!</a>
</div>

